 <p>modal works!</p>

<!-- 
  <button (click)="toggleModal()">open modal</button>  -->

  

 <div  (click)="toggleModal()" class="backdrop">
  <div class="modal">
    <p>{{ chosenPokemon }}</p>
  </div>
</div>
