:host {
  position: relative;
}

.backdrop {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    padding: 1rem;
    border-radius: 4px;
    background-color: white;
    width: 60%;
  }
}
