<!-- <h1>{{ chosenPokemon }}</h1> -->
<!-- <button (click)="toggleModal()">open modal</button> 

 <div *ngIf="showModal" (click)="toggleModal()" class="backdrop">
  <div class="modal">
    <p>{{ chosenPokemon }}</p>
  </div>
</div> -->

 <app-main (sendModal)="toggleModals()"></app-main>

 <div *ngIf ="showModal">

<app-modal></app-modal>

</div>